.policy-box {
  padding-top: 3rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0b1e36;

    p {
      color: #eee;
    }

    .circle-badge {
      background-color: #fff;
      color: #0b1e36;
    }
  }
}

.circle-badge {
  width: 50px;
  height: 50px;
  background-color: #0b1e36;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1;
}

.main-container {
    background-color: #0b1e36 !important;
      overflow-y: hidden; 
}


h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}
