.main-container {
    background-color: #0b1e36;
    background-image: url("^/assets/images/bm2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h2 {
    font-family: 'Poppins' !important;
    color: #FFFFFF;
}

.class {
    height: 30px;
}

p.subheading {
    font-size: 17px;
    font-weight: var(--bb-font-weight-600);
}

.content {
    position: relative;
}

.carousel {
    padding: 20px 0;
}


.cards {
    flex: 0 0 auto;
    width: 30%;
    margin: 15px;
    border-radius: 12px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.cards:hover {
    border: 5px solid #FFFFFF;
    background: #FFFFFF;
    clip-path: polygon(89% 0, 100% 13%, 100% 100%, 0 100%, 0 0);
}

.cards:nth-child(1) {
    margin-left: 5px;
}

.border-span {
    border-radius: 12px;
    clip-path: polygon(89% 0, 100% 13%, 100% 100%, 0 100%, 0 0);
    background: linear-gradient(45deg, black, #004AAD);
    height: 100%;
    display: flex;
    flex-direction: column;
}


p {
    font-size: 15px;
}

p.sub {
    font-size: 16px;
    height: 145px;
    overflow-y: auto;
}


.slick-prev1,
.slick-next1 {
    bottom: -10% !important;
    z-index: 1 !important;
    background: var(--bb--neutral-font-color1) !important;
    border: none;
    border-radius: 50%;
    padding: 10px 15px !important;
    cursor: pointer;

    img {
        height: 25px;
    }
}

.slick-prev1:before,
.slick-next1:before {
    font-family: "slick";
    font-size: 26px !important;
    line-height: 1;
    color: white !important;
    opacity: 1 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h5 {
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin: 0 7px;
    }
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

@media (min-width: 660px) and (max-width: 800px) {
    .border-span {
        height: 480px;
    }
}

@media (max-width: 600px) {
    .cards {
        margin: 15px 5px;
    }
}

@media (min-width: 1500px) {
    .slick-prev1 {
        left: 46% !important;
    }

    .slick-next1 {
        right: 46% !important;
    }
}

h5,
p {
    color: #FFFFFF;
}

hr {
    color: #FFFFFF !important;
}

.sub {
    color: #828FA0 !important
}


h4 {
    color: #FFFFFF;
    font-size: 36px !important;
}


img.mainimg {
    width: 100%;
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
}


.buttonsd {
    background: transparent;
    color: #FFFFFF;
    padding: 8px 20px;
    border: 2px solid #004AAD;
    background-color: #004AAD;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    width: 150px;
}

.buttonsd::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #004AAD;
    top: 100%;
    left: 0;
    transition: top 0.3s ease-in-out;
    z-index: -1;
}

.buttonsd:hover::before {
    top: 0;
}

.buttonsd:hover {
    color: white;
    background-color: transparent;
}


h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}


.clamp-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}