.main {
    background-color: #000000;
    background-image: url('^/assets/images/about/Union (1).png');
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: contain;

    h1,
    p {
        color: #ffffff !important;
    }
}

ul {
    li{
        color: #ffffff;
    }
}

.careernamelist {
    display: flex;
    justify-content: flex-start;
}

// .careernamelist ul {
//     padding-left: 0 !important;
// }

.non-staff {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-grow: 1;
    z-index: 1;
}

.staff-member {
    flex: 0 1 calc(50% - 40px);
    margin: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    clip-path: polygon(89% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
      transition: transform 0.3s ease;
}

.staff-member:hover {
   transform: scale(1.05); 
}

.cards p {
    font-size: 16px !important;
    height: 150px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

.cards {
    padding: 26px !important;
    border-radius: 12px;
    transition: transform .3s ease-in-out;
}


.cards:hover {
    box-shadow: 0px 3px 5px rgb(218, 218, 218);
    border-radius: 12px;
    // transform: scale(1.1);
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}

button {
    font-size: 17px;
}

.border-span {
    clip-path: polygon(89% 0, 100% 13%, 100% 100%, 0 100%, 0 0);
}

.border-span:hover {
    background-color: var(--bb--neutral-font-color1);
}


.selectedColor {
    background-color: var(--bb-secondary-color) !important;
}

.unselectedColor {
    cursor: not-allowed;
}

.careernamelist li.disabled {
    color: grey;
    opacity: 0.8;
    cursor: not-allowed !important;
    pointer-events: none;
}


.no-scroll {
    overflow-y: hidden !important;
}

// .disabled-list {

//     pointer-events: none;
// }

// .disabled {
//     color: gray;
//     cursor: not-allowed;
// }

.overlays {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: var(--accent-font-color2);
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1001 !important;


    h2 {
        font-size: 17px;
        font-weight: 600;
    }

    h4 {
        display: flex;
        font-size: 15px;
        margin-bottom: 5px;

        p {
            width: 100px;
            font-weight: 600;
        }
    }

    .close {
        display: flex;
        justify-content: flex-end;

        img {
            height: 22px;
            cursor: pointer;
        }
    }

    .job-item {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 2em 3em;
        border-radius: 35px;
        overflow-y: auto;
        height: 70%;
    }


    h3 {
        font-size: 18px !important;
        font-weight: 600;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 767px) {
    .staff-member {
        flex: 0 1 calc(100% - 20px);
        margin: 10px;
        box-sizing: border-box;
    }

    .careernamelist {
        flex-direction: column;

    }

    .cards {
        padding: 10px !important;
        p{  
            height: 215px;
        }
    }

    .careernamelist ul {
        padding-left: 0 !important;
    }

    .overlays {
        .job-item {
            width: 85%;
            padding: 2em 1em;
            border-radius: 20px;
            height: 85%;
            overflow-y: auto;
        }
    }

}


.buttonsd {
  background: transparent;
  color: #FFFFFF;
  padding: 8px 20px;
  border: 2px solid #004AAD;
    background-color: #004AAD;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.buttonsd::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #004AAD;
  top: 100%;
  left: 0;
  transition: top 0.3s ease-in-out;
  z-index: -1;
}

.buttonsd:hover::before {
  top: 0;
}

.buttonsd:hover {
  color: white;
  background-color: transparent;
}


.cards{
    background: linear-gradient(45deg, black, #004AAD);
    clip-path: polygon(89% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
    height: auto;
}


h5{
      color: var(--ic-tertiary-font-color);
}

.resp{
    li {
        color: #000000
    }
}