<section class="scroll-section d-flex align-items-center">
    <div class="container text-center text-white">
        <div class="row align-items-center">
            <div class="col-md-4 text-center mb-md-0 order-2 order-md-1" data-aos="fade-right"
                data-aos-duration="1500">
                <img *ngIf="aboutData?.image; else fallbackImg" [src]="aboutData.image" alt="About Us"
                    class="img-fluid rounded">
                <ng-template #fallbackImg>
                    <img src="assets/images/home/about img.png" alt="About Us" class="img-fluid rounded">
                </ng-template>
            </div>
            <div class="col-md-8 text-center order-1 order-md-2 desc">
                <h2 *ngIf="showHeading" class="heading-underline">{{ aboutData?.heading || 'About Us' }}</h2>
                <div class="scroll-box mx-auto" data-aos="fade-up" data-aos-duration="1500">
                    <div class="scroll-text">
                    
                    <div class="scroll-text">

  <!-- First paragraph with locked company name -->
  <p class="about-text" *ngIf="aboutData?.description?.length">
    <span class="company-name">
      AESPARROW CONSULTING PVT LTD
    </span>
    {{ aboutData.description[0] }}
  </p>

  <!-- Remaining paragraphs -->
  <p *ngFor="let paragraph of aboutData?.description.slice(1)">
    {{ paragraph }}
  </p>

</div>


                </div>

                </div>
                <button class="btn buttonsd mt-3" routerLink="/about">Read More</button>
            </div>
        </div>
    </div>
</section>