<section class="scroll-section d-flex align-items-center">
    <div class="container text-center text-white">
        <div class="row align-items-center">
            <div class="col-md-4 text-center mb-md-0 order-2 order-md-1" data-aos="fade-right"
                data-aos-duration="1500">
                <img src="assets/images/home/about img.png" alt="About Us" class="img-fluid rounded">
            </div>
            <div class="col-md-8 text-center order-1 order-md-2 desc">
                <h2 *ngIf="showHeading" class="heading-underline">About Us</h2>
                <div class="scroll-box mx-auto" data-aos="fade-up" data-aos-duration="1500">
                    <div class="scroll-text">
                        <p>
                            At <strong>AESPARROW CONSULTING PVT LTD.</strong> is a forward-thinking cybersecurity firm
                            dedicated to helping organizations stay secure in an increasingly digital and threat-prone
                            world. Founded by industry veterans, we specialize in crafting tailored cybersecurity
                            strategies that are proactive, scalable, and compliance ready.
                        </p>
                        <p>
                            We protect your digital assets with the highest standards of security practices, ensuring
                            resilience against evolving cyber threats. From startups to large enterprises, our mission
                            is to empower businesses with the confidence to innovate securely.
                        </p>
                        <p>
                            We pride ourselves on our consultative approach, combining deep technical knowledge with an
                            understanding of your business context to deliver effective, long-term security solutions.
                        </p>

                    </div>
                </div>
                <button class="btn buttonsd mt-3">Read More</button>
            </div>
        </div>
    </div>
</section>