<div class="main-container pb-5"  *ngIf="conclusionService.conclusion" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <div class="text-white" data-aos="fade-right" data-aos-delay="400">
                    <!-- <h3 class="mb-3">Conclusion:</h3> -->
                    <p  class="mb-4">{{
                        conclusionService.conclusion }}</p>
                </div>
            </div>
        </div>
    </div>
</div>