.step-card {
  border-left: 4px solid #0b1e36;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f8f9fa;
    transform: translateY(-3px);
  }
}

.step-number {
  min-width: 50px;
  height: 50px;
  background-color: #0b1e36;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}



.main-container {
    background-color: #0b1e36 !important;
      overflow-y: hidden; 
}



h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}

p{
    margin-top: 10px;
}