.main-container {
  background-color: #0b1e36 !important; 
    overflow-y: hidden; 
}

.privacy-policy {
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFFF;
  border-radius: 10px;
}

.privacy-policy h1 {
  font-size: 2.2rem;
  color: #004AAD;
  margin-bottom: 1rem;
  text-align: center;
}

.privacy-policy h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #004AAD;
  padding-bottom: 0.4rem;
}

.privacy-policy p {
  line-height: 1.6;
  margin: 1rem 0;
}

.privacy-policy ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.privacy-policy ul.checklist {
  list-style: none;
  padding-left: 0;
}

.privacy-policy ul.checklist li {
  margin-bottom: 0.5rem;
  padding-left: 1.8rem;
  position: relative;
}

.privacy-policy ul.checklist li::before {
  position: absolute;
  left: 0;
  top: 0;
}

.privacy-policy a {
  color: #004AAD;
  text-decoration: none;
}

.privacy-policy a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .privacy-policy {
    padding: 1rem;
  }

  .privacy-policy h1 {
    font-size: 1.8rem;
  }

  .privacy-policy h2 {
    font-size: 1.3rem;
  }
}
