.tool-badge {
  background-color: #f8f9fa;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #0b1e36;
    color: #fff;

    i {
      color: #fff;
    }
  }
}

.tools-image-wrapper {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
}

img{
    border-radius: 20px;
}


.main-container {
    background-color: #0b1e36 !important;
      overflow-y: hidden; 
}



h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}