h2 {
  font-weight: 700;
  color: #0b1e36;
}

p {
  font-size: 1rem;
  color: #333;
}


.main-container{
     background-color: #0b1e36 !important;  
       overflow-y: hidden; 
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}


h3 {
    color: var(--ic-tertiary-font-color) !important;
}

P{
    color: #fff;
}

ul{
    color: #fff;
}

.list-group-item{
    background-color: transparent !important;
    color: #fff
}

.bi-check-circle-fill {
  font-size: 1.2rem;
}

.checkmark-blue {
    color: var(--ic-tertiary-font-color) !important;
}