<!-- Banner for /career -->
<div class="main" *ngIf="currentRoute === '/blogs'">
  <div class="row">
    <div class="overlay"></div>
    <div class="breadcrumbs">
      <ul>
        <li class="px-1"><a routerLink="/home">Home &nbsp;/</a></li>
        <li class="px-1">Blogs</li>
      </ul>
    </div>
    <div class="content py-5">
      <h1>Blogs</h1>
    </div>
  </div>
</div>

<!-- <div class="main" *ngIf="currentRoute === '/career/'">
  <div class="row">
    <div class="overlay"></div>
    <div class="breadcrumbs">
      <ul>
        <li class="px-1"><a routerLink="/home">Home &nbsp;/</a></li>
        <li class="px-1"><a routerLink="/career">Career &nbsp;/</a></li>
        <li class="px-1">Job List</li>
      </ul>
    </div>
    <div class="content py-5">
      <h1>Career Openings</h1>
    </div>
  </div>
</div> -->