.testimonial-container {
    position: relative;
    background: url("/assets/images/home/mybg.webp") center center no-repeat fixed;
    background-size: cover;
    color: var(--ts-accent-color1);
    overflow: hidden; 
}

/* Overlay Layer */
.testimonial-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    z-index: 1;
}

.testimonial-container > * {
    position: relative;
    z-index: 2;
}
.carousel-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

img {
    height: 120px;
    border-radius: 50%;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}

.sub {
    margin-top: 10px;
}

.heading {
    position: relative;
}

.heading .sub:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}


.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #FFFFFF !important
}

.custom-prev {
    left: -10%;
}

.custom-next {
    right: -10%;
}

.custom-prev img,
.custom-next img {
    width: 32px;
    height: 32px;
}

@media (max-width: 767px) {
    .carousel-container {
        width: 80%;
    }

    .custom-prev {
        left: -15%;
    }

    .custom-next {
        right: -15%;
    }

    .custom-prev img,
    .custom-next img {
        width: 24px;
        height: 24px;
    }
}

.position {
    color: #004AAD
}