.scroll-to-top {
  display: block !important;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #004AAD;
  color: #fff;
  border: none;
  padding: 2px 14px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  font-size: 30px;
}

button img{
  height: 25px;
  transition: 0.5s;
}

button img:hover{
  transform: scale(1.2);
}


.nav {
    background: #000000;
    box-shadow: 4px 4px 4px -4px rgba(0, 0, 0, 0.25);
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 3;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }