<header>
    <div class="res">
        <a href="home"><img src="assets/images/logo.png" class="logo" alt="logo"></a>
 <a class="menu" (click)="toggleResponsiveMenu()">
          <img src="assets/images/hamburger.svg" alt="Menu" />
        </a>    </div>
    <nav class="second-nav">
        <a href="home"><img class="logo" src="assets/images/logo.png" alt="logo" /></a>
        <ul class="nav-links">
            <li><a href="./about">About Us</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle">
                    Our Services
                    <img class="img-fluid chevron-img ms-2" src="assets/images/icons/Vector 165.svg" alt="">
                </a>

                <ul class="dropdown-menu animated-main-menu">
                    <li class="dropdown-submenu" *ngFor="let service of serviceData; let j = index"
                        (mouseenter)="mainServiceId = service.id" [style.--j]="j + 1">

                        <a (click)="onClickService(service.id)"
                            class="dropdown-item d-flex justify-content-between align-items-center">
                            {{ service.header_title }}
                            <i class="bi bi-chevron-right"></i>
                        </a>

                        <ul class="dropdown-menu sub-right animated-dropdown" *ngIf="service.children?.length">
                            <li *ngFor="let child of service.children; let i = index" [style.--i]="i + 1">
                                <a class="dropdown-item" (click)="onClickSubService(child.id)">
                                    {{ child.sub_title }}
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li><a href="./industries">Industries</a></li>
            <li><a href="./blogs">Blogs & Insights</a></li>
            <li><a href="career">Careers </a></li>
        </ul>
        <button class="buttons" (click)="onClickContact()">Contact Us</button>
        <button class="search-icon btn" (click)="toggleSearch()">
            <i class="bi bi-search"></i>
        </button>
    </nav>
    <div class="search-overlay" *ngIf="showSearch">
        <button class="close-btn" (click)="toggleSearch()">×</button>

        <div class="search-box">
            <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="Search Services"
                class="search-input" />

            <ul class="autocomplete-list" *ngIf="filteredResults.length > 0">
                <li *ngFor="let item of filteredResults" (click)="onSelectSuggestion(item.id)">
                    {{ item.title }}
                </li>
            </ul>
        </div>
    </div>

</header>