.main-container{
  background-color: #0b1e36 !important; 
    overflow-y: hidden; 
}


.vision-card,
.mission-card {
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.vision-card::before,
.mission-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 30, 54, 0.7);
  z-index: 1;
}

.vision-card .card-body,
.mission-card .card-body {
  position: relative;
  z-index: 2;
}


.vision-card {
  background-image: url('^/assets/images/about/vision.avif');
}

.mission-card {
  background-image: url('^/assets/images/about/mision.avif');
}
