<div class="main-container">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-in-sine">
        <div class="card h-100 shadow border-0 bg-dark text-white vision-card">
          <div class="card-body p-5" >
            <h3 class="card-title">Our Vision</h3>
            <p class="card-text">
              We protect your digital assets with the highest standards of security practices,
              ensuring resilience against evolving cyber threats.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100 shadow border-0 bg-dark text-white mission-card">
          <div class="card-body p-5" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-in-sine">
            <h3 class="card-title">Our Mission</h3>
            <p class="card-text">
              To be the leading cybersecurity consulting firm, recognized for providing innovative,
              reliable, and actionable security solutions that empower organizations to thrive
              in a digitally secure environment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
