.main-container {
  background-color: #0b1e36 !important;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
}

h5{
  color: #0b1e36 !important;
}

p{
  color: #000000 !important
}


.card-border-animated {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;

  .border-line {
    position: absolute;
    background-color: var(--ic-tertiary-font-color) !important;
    z-index: 1;
  }

  .line-top {
    height: 5px;
    width: 0;
    top: 0;
    left: 0;
    animation: animateTop 4s linear infinite;
  }

  .line-right {
    width: 5px;
    height: 0;
    top: 0;
    right: 0;
    animation: animateRight 4s linear infinite;
    animation-delay: 1s;
  }


  .line-bottom {
    height: 5px;
    width: 0;
    bottom: 0;
    right: 0;
    animation: animateBottom 4s linear infinite;
    animation-delay: 2s;
  }


  .line-left {
    width: 5px;
    height: 0;
    bottom: 0;
    left: 0;
    animation: animateLeft 4s linear infinite;
    animation-delay: 3s;
  }
}


@keyframes animateTop {
  0% { width: 0; }
  25% { width: 70%; }
  100% { width: 100%; }
}
@keyframes animateRight {
  0%, 25% { height: 0; }
  50% { height: 50%; }
  100% { height: 100%; }
}
@keyframes animateBottom {
  0%, 50% { width: 0; }
  75% { width: 50%; }
  100% { width: 100%; }
}
@keyframes animateLeft {
  0%, 75% { height: 0; }
  100% { height: 100%; }
}
