.main-container{
      background-color: #0b1e36 !important; 
        overflow-y: hidden; 
}


.card-img-top {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}



h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}

P{
    color: #ffffff;
}

.card-text{
    color: #000000;
}

.img-sec{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #0b1e36;
    border: 11px solid white;
    border-radius: 30px;
}

h3 {
    color: var(--ic-tertiary-font-color) !important;
}

.card-hover {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  will-change: transform;

  &:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  }
}

.zoom-in {
  transition: transform 0.6s ease;
}
.card-hover:hover .zoom-in {
  transform: scale(1.08);
}

[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

.img-sec {
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 30px;
  border: 11px solid white;
  background-color: #0b1e36;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}