.main-container {
  background-color: #0b1e36 !important;
    overflow-y: hidden; 
}



h2 {
  font-size: 36px;
  font-weight: 900;
  color: #FFFFFF
}

h4 {
  color: var(--ic-tertiary-font-color) !important;
}

.desc {
  color: #ffffff !important
}

.security-card {
  display: flex;
  border-left: 6px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-left-color: #0b1e36;
    background-color: #f8f9fa;
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
}

.number-strip {
  width: 80px;
  background-color: #0b1e36;
  color: white;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
