.object-fit-cover {
    object-fit: cover;
}

.main-container {
    background-color: #0b1e36 !important;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}

.datas {
    background-color: #FFFFFF;

    h5 {
        color: #000000 !important;
    }

}

.img-wrapper {
  cursor: pointer;
  height: 300px;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.datas {
  background-color: #ffffff;
  transition: background-color 0.3s ease;

  h5 {
    color: #000 !important;
    transition: color 0.3s ease;
  }
}