<hr class="white-line">

<div class="component-wrapper text-white">
    <div class="container pb-4 pt-5">
        <div class="row">
            <div class="col-lg-3 col-xl-3 col-md-4 col-sm-12">
                <img src="assets/images/logo.png" class="logo" alt="logo">
                <div class="d-flex py-3 icons">
                    <a href="" target="_blank">
                        <img src="assets/images/icons/iconoir_facebook-tag.png" class="me-2" alt="facebook">
                    </a>
                    <a href="" target="_blank">
                        <img src="assets/images/icons/iconoir_instagram.png" class="me-2" alt="instagram">
                    </a>
                    <a href="" target="_blank">
                        <img src="assets/images/icons/hugeicons_linkedin-01.png" class="me-2" alt="linkedin">
                    </a>
                    <a href="" target="_blank">
                        <img src="assets/images/icons/tweeter.png" class="me-2" alt="twitter">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-4 col-sm-12 tags">
                <h5 class="pb-2">Company</h5>
                <p class="mb-2"><a (click)="onClickhome()">Home</a></p>
                <p class="mb-2"><a (click)="onClickCareer()">Careers</a></p>
                <p class="mb-2" (click)="onClickContact()"><a>Contact Us</a></p>
                <p class="mb-2" (click)="onClickTerms()"><a>Privacy Policy</a></p>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-4 col-sm-12 easylinks">
                <h5 class="pb-2">Easy Links</h5>
                <p class="mb-2"><a (click)="onClickCyber()">Cybersecurity Consulting Services</a></p>
                <p class="mb-2"><a (click)="onClickVapt()">VAPT Services </a></p>
                <p class="mb-2"><a (click)="onClickGrc()">GRC Services</a></p>
                <p class="mb-2"><a (click)="onClickOther()">Other Services</a></p>
            </div>
            <div class="col-lg-2 col-xl-2 col-md-4 col-sm-12 needhelp">
                <h5 class="pb-2">Need Help</h5>
                <p class="mb-2">
                    <a href="tel:+919624740192" class="text-white d-flex align-items-center">
                        <img src="assets/images/icons/phone_light.svg" class="me-2" alt="Phone Number">
                        +91 7597705225
                    </a>
                </p>
                <p class="mb-2">
                    <a href="mailto:info@aesparrow.com" class="text-white d-flex align-items-center">
                        <img src="assets/images/icons/mail_light.svg" class="me-2" alt="Email">
                        info@aesparrow.com
                    </a>
                </p>
            </div>
            <div class="col-lg-3 col-xl-3 col-md-4 col-sm-12">
                <h5 class="pb-2">Address</h5>
                <p class="mb-2 d-flex align-items-start">
                    <img src="assets/images/icons/location_light.svg" class="text-white mt-1" alt="location">
                    B. 3, S. 3, Near Ridhi Sidhi 8, Old Abadi, Sri Ganganagar, Rajasthan- 335001
                </p>
            </div>
        </div>

    </div>
    <hr>
    <div class="container">
        <div class="row">
            <p>&copy;{{date}} Aesparrow. All Rights Reserved</p>
        </div>
    </div>
</div>