.main-container {
  background-color: #0b1e36 !important;
    overflow-y: hidden; 
}



h2 {
  font-size: 36px;
  font-weight: 900;
  color: #FFFFFF
}


.test-tile {
  transition: all 0.1s ease;
  border: 1px solid #eaeaea;

  &:hover {
    background-color: #0b1e36 !important;
    color: #fff !important;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);


    p {
      color: #dcdcdc !important;
    }
  }

  .number-badge {
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: #0b1e36;
    color: #fff;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
}
