h3 {
  font-weight: bold;
  color: #0b1e36;
}

ul {
  padding-left: 20px;
  li {
    margin-bottom: 5px;
    color: #fff !important
  }
}


h2 {
    font-size: 36px;
    font-weight: 900;
    color: #FFFFFF
}

P{
  color: #ffffff;
}



.industry-image-wrapper {
  position: relative;
  display: inline-block;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
  }

  .industry-title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background: rgba(0, 0, 0, 0.6);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
  }
}



.main-container {
  background-color: #0b1e36 !important;
  overflow-y: hidden; 
}

.bi-check-circle-fill {
  font-size: 1.2rem;
}


.textSuccess{
    color: #0ec9ac

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp 0.8s ease forwards;
  opacity: 0;
}


.checkmark-blue {
  transition: color 0.3s ease;
}



.checkmark-blue {
  color: #004AAD;
}
