.bg-dark {
  background-color: #0b1e36 !important;
}

h2,
h5,
h6 {
  color: #ffffff;
}

.hero-image {
  background-image: url('/assets/images/home/aes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  border-radius: 20px;
}

.things{
  cursor: pointer;
}


.datadb {
  padding: 50px !important;
}

p {
  font-size: 0.95rem;
}

.overlay-text {
  background-color: #000;
  padding: 20px 0;
  width: 450px !important;
  border-radius: 10px;
}


@media (max-width: 991.98px) {
  .animate-on-mobile {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUpFadeIn 1s ease-out forwards;
    animation-delay: 0.3s;
  }

  .datadb {
    padding: 20px !important;
  }


  .overlay-text {
    width: 100% !important;
  }
}

@keyframes slideUpFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.buttons {
  background: transparent;
  color: #FFFFFF;
  padding: 8px 20px;
  border: 2px solid #004AAD;
  background-color: #004AAD;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.buttons::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #004AAD;
  top: 100%;
  left: 0;
  transition: top 0.3s ease-in-out;
  z-index: -1;
}

.buttons:hover::before {
  top: 0;
}

.buttons:hover {
  color: white;
  background-color: transparent;
}

.customtext {
  color: #004AAD !important
}

p {
  color: #828FA0 !important
}

.checkmark-blue {
  color: #004AAD;
}